
## Data Mining, BI-VZD
## Home Assignment 1
## **Vizualizace volebních dat do zastupitelstva obce Most v letech 2002-2018**
## Část 1 - Scrapping
### Bc. Jiří Zelenka
### UK-FSV-IES

####################################################################################

## Obsah:

<a id='1_Uvod'></a>
[1_Uvod](#1_Uvod)

 * <a id='1.1_Import_packagu'></a>
[1.1_Import_packagu](#1.1_Import_packagu)




<a id='2_Scrapping_kandidati'></a>
[2_Scrapping_kandidati](#2_Scrapping_kandidati)

 * <a id='Poznamka'></a>
[Poznamka](#Poznamka)

 * <a id='Merging_tabulek'></a>
[Merging_tabulek](#Merging_tabulek)




<a id='3_Scrapping_Vysledky_a_Ucast'></a>
[3_Scrapping_Vysledky_a_Ucast](#3_Scrapping_Vysledky_a_Ucast)

 * <a id='Merging'></a>
[Merging](#Merging)

 * <a id='Ulozeni_datasetu'></a>
[Ulozeni_datasetu](#Ulozeni_datasetu)


####################################################################################

## 1_Uvod

  * V rámci tohoto úkolu musíte stáhnout dat z webu (tzv. _web scraping_, velmi základní) a následně data zpracovat a vizualizovat.
  * Cílem bude stáhnout data ze serveru https://www.volby.cz týkající se voleb do zastupitelstva Vámi vybraného (většího) města, uložit tato data v tabulkovém formátu a pak vymyslet vizualizace a zobrazení dat, které umožní orientaci v těchto datech a zvýrazní zajímavé informace a zobrazit přehledně časový vývoj různých veličin.
 
> **Úkoly jsou zadány tak, aby Vám daly prostor pro invenci. Vymyslet _jak přesně_ budete úkol řešit, je důležitou součástí zadání a originalita či nápaditost bude také hodnocena!**

## Výběr zdroje dat

Vyberte si větší město, které má zastupitelstvo druhu 3 (Zastupitelstvo statutárního města) a strojově stáhněte informace o stranách a kandidátkách z následujících let:
 * [2002](https://www.volby.cz/pls/kv2002/kv12?xjazyk=CZ&xid=0), [2006](https://www.volby.cz/pls/kv2006/kv12?xjazyk=CZ&xid=0), [2010](https://www.volby.cz/pls/kv2010/kv12?xjazyk=CZ&xid=0), [2014](https://www.volby.cz/pls/kv2014/kv12?xjazyk=CZ&xid=0) a [2018](https://www.volby.cz/pls/kv2018/kv12?xjazyk=CZ&xid=0).
 

## Pokyny k vypracování


## Poznámky k odevzdání

  * Řiďte se pokyny ze stránky https://courses.fit.cvut.cz/BI-VZD/homeworks/index.html.
  * Odevzdejte nejen Jupyter Notebook, ale i _csv_ soubor(y) se staženými daty.
  * Opravující Vám může umožnit úkol dodělat či opravit a získat tak další body. První verze je ale důležitá a bude-li odbytá, budete za to penalizováni.
  
  
##################################################################################################################################################################################################################

### 1.1_Import_packagu

In [1]:
import requests # for robots check
import pandas as pd # for dataframe
import numpy as np # for arrays

In [2]:
print(requests.get("https://www.volby.cz/robots.txt").text)

User-agent: *
Disallow: /pls/

## 2_Scrapping_kandidati

In [3]:
roky = [2002, 2006, 2010, 2014, 2018]

df_lide = []

for i in roky:
    url = r"https://www.volby.cz/pls/kv" + str(i) + "/kv21111?xjazyk=CZ&xid=0&xv=11&xdz=3&xnumnuts=4205&xobec=567027&xstrana=0"
    table = pd.read_html(url)
    table[0]= table[0].drop(table[0].index[0:2]) # Odmazány první dva řádky záhlaví  
    table[0][12] = i          # Přidání roku kandidatury člověka
#print(table[0])
    df_lide.append(table[0])

# 365 + 415 + 394 + 547 + 514 = 2235

In [4]:
df_lide[0].head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
2,10,Česká str.sociálně demokrat.,12,Adamcová Svetluša,NaN,42,ČSSD,ČSSD,1 919,2.27,6.0,NaN,2002
3,8,"Koalice KDU-ČSL, SZ",24,Agh Alexandr,NaN,40,SZ,BEZPP,336,1.92,NaN,NaN,2002
4,7,Nezáv.sdruž.sport.města Mostu,3,Augusta Pavel,Ing.,38,SSZ,SSZ,1 099,2.92,3.0,NaN,2002
5,3,Komunistická str.Čech a Moravy,15,Babák Jindřich,NaN,48,KSČM,KSČM,3 749,2.25,1.0,NaN,2002
6,8,"Koalice KDU-ČSL, SZ",10,Babováková Tatiana,JUDr.,48,SZ,BEZPP,484,2.77,NaN,NaN,2002

In [5]:
df_lide[0].reset_index(drop = True,inplace=True)


### Poznamka
##### !!!!!!!!!!!!!!!!!!!!
#### Data z 2002 (df[0]) mají jiný formát, je zde navíc sloupec s tituly. Pro lepší merging dat je tedy nejprve připojíme ke jménu jako v ostatních letech
##### !!!!!!!!!!!!!!!!!!!!
#### U tohoto a dalších bloků sice vyskočí upozornění, ale proces v pořádku doběhne (nejspíš souvisí s indexováním)..

In [6]:
for i in range(0, len(df_lide[0])):
    if pd.isna(df_lide[0][4][i]):
        pass
    else:
        df_lide[0][3][i]= df_lide[0][3][i] + " " + df_lide[0][4][i]

df_lide[0].head()

C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,10,Česká str.sociálně demokrat.,12,Adamcová Svetluša,NaN,42,ČSSD,ČSSD,1 919,2.27,6.0,NaN,2002
1,8,"Koalice KDU-ČSL, SZ",24,Agh Alexandr,NaN,40,SZ,BEZPP,336,1.92,NaN,NaN,2002
2,7,Nezáv.sdruž.sport.města Mostu,3,Augusta Pavel Ing.,Ing.,38,SSZ,SSZ,1 099,2.92,3.0,NaN,2002
3,3,Komunistická str.Čech a Moravy,15,Babák Jindřich,NaN,48,KSČM,KSČM,3 749,2.25,1.0,NaN,2002
4,8,"Koalice KDU-ČSL, SZ",10,Babováková Tatiana JUDr.,JUDr.,48,SZ,BEZPP,484,2.77,NaN,NaN,2002

#### Smazání původního sloupce s tituly

In [7]:
df_lide[0] = df_lide[0].drop([4], axis = 1)

#### Všechny datasety krom prvního mají špatně nahraná procenta:

In [8]:
for i in range(5):
    if i == 0:
        pass
    else:
        df_lide[i][8] = (df_lide[i][8])*(1/100)

#### Opravení názvů sloupců a sjednocení

In [9]:
for i in range(5):

    df_lide[i].reset_index(drop = True,inplace=True)
    df_lide[i].columns = [ 0,1,2,3,4,5,6,7,8,9,10, 11]
    display(df_lide[i].head())

,0,1,2,3,4,5,6,7,8,9,10,11
0,10,Česká str.sociálně demokrat.,12,Adamcová Svetluša,42,ČSSD,ČSSD,1 919,2.27,6.0,NaN,2002
1,8,"Koalice KDU-ČSL, SZ",24,Agh Alexandr,40,SZ,BEZPP,336,1.92,NaN,NaN,2002
2,7,Nezáv.sdruž.sport.města Mostu,3,Augusta Pavel Ing.,38,SSZ,SSZ,1 099,2.92,3.0,NaN,2002
3,3,Komunistická str.Čech a Moravy,15,Babák Jindřich,48,KSČM,KSČM,3 749,2.25,1.0,NaN,2002
4,8,"Koalice KDU-ČSL, SZ",10,Babováková Tatiana JUDr.,48,SZ,BEZPP,484,2.77,NaN,NaN,2002

,0,1,2,3,4,5,6,7,8,9,10,11
0,7,Sdružení Mostečané Mostu,37,Anderle Miloslav,46,SOS,BEZPP,6 006,2.15,19,-,2006
1,7,Sdružení Mostečané Mostu,12,Antoš Roman,43,NK,BEZPP,6 269,2.25,12,*,2006
2,9,Sdružení pro sport a zdraví,7,Augusta Pavel Ing.,42,SSZ,SSZ,801,2.50,-,-,2006
3,5,Komunistická str.Čech a Moravy,17,Aulický Václav,33,KSČM,BEZPP,2 890,2.23,9,-,2006
4,5,Komunistická str.Čech a Moravy,13,Babák Jindřich,52,KSČM,KSČM,2 949,2.28,5,-,2006

,0,1,2,3,4,5,6,7,8,9,10,11
0,5,Věci veřejné,34,Adámek Vladislav,39,VV,BEZPP,615,2.16,-,-,2010
1,6,Sdružení Mostečané Mostu,32,Anderle Miloslav,50,NK,BEZPP,9 295,2.19,6,-,2010
2,7,Česká str.sociálně demokrat.,10,Andreaová Jaroslava Alexandra JUDr.,58,ČSSD,ČSSD,2 436,2.29,4,-,2010
3,6,Sdružení Mostečané Mostu,13,Antoš Roman,47,S.cz,S.cz,9 542,2.25,13,*,2010
4,1,Komunistická str.Čech a Moravy,11,Aulický Václav,37,KSČM,BEZPP,1 858,2.25,6,-,2010

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,Toryové,33,Adamcová Veronika,48,TOR,BEZPP,193,1.98,-,-,2014
1,14,ANO 2011,23,Agh Alexandr,52,ANO,ANO,1 870,2.28,17,-,2014
2,3,Sdružení Mostečané Mostu,35,Anderle Miloslav,54,NK,BEZPP,2 858,2.17,25,-,2014
3,9,Česká str.sociálně demokrat.,17,Andrea Lukáš DiS.,32,ČSSD,ČSSD,1 070,2.16,14,-,2014
4,9,Česká str.sociálně demokrat.,40,Andreaová Jaroslava Alexandra JUDr.,62,ČSSD,ČSSD,973,1.97,37,-,2014

,0,1,2,3,4,5,6,7,8,9,10,11
0,9,Česká str.sociálně demokrat.,18,Adámek Arnošt,50,ČSSD,ČSSD,492,2.18,-,-,2018
1,5,ANO 2011,8,Agh Alexandr,56,ANO,ANO,2 606,2.33,8,*,2018
2,4,Sdružení Mostečané Mostu,30,Anderle Miloslav,58,NK,BEZPP,2 404,2.16,22,-,2018
3,9,Česká str.sociálně demokrat.,12,Andrea Lukáš Bc. DiS.,36,ČSSD,ČSSD,516,2.29,-,-,2018
4,9,Česká str.sociálně demokrat.,37,Andreaová Jaroslava Alexandra JUDr.,66,ČSSD,ČSSD,486,2.15,-,-,2018

#### Náhrada hvězdiček, zrušení NaN, změna typů na INT všude krom procent
* Sloupec s Mandátem - pomlčky nahrazeny 0 a hvědičky 1
* Ve všech datasetech krom prvního byly pomlčky nahrazeny 0
* V prvním datasetu byly NaN nahrazeny 0
* Změněny typy posledních dvou sloupců na INT

In [10]:
# Nahrazení NaN nulami

df_lide[0].fillna(0, inplace=True)

# Všichni krom 0
for i in range(5):
    if i == 0:
        pass
    else:
        df_lide[i]=df_lide[i].replace(to_replace ="-", value = "0") 

# Všichni:
for i in range(5):
    df_lide[i]=df_lide[i].replace(to_replace ="*", value = "1")

In [11]:
display(df_lide[i].describe())

for i in range(5):

    df_lide[i][0] = df_lide[i][0].astype(int)
    df_lide[i][2] = df_lide[i][2].astype(int)
    df_lide[i][4] = df_lide[i][4].astype(int)

    df_lide[i][9] = df_lide[i][9].astype(int)
    df_lide[i][10] = df_lide[i][10].astype(int)

               8       11
count  514.000000   514.0
mean     2.329728  2018.0
std      0.646423     0.0
min      1.680000  2018.0
25%      2.092500  2018.0
50%      2.190000  2018.0
75%      2.300000  2018.0
max      7.980000  2018.0

#### Merging_tabulek
##### Pojmenování sloupců

In [12]:
frames = [df_lide[0], df_lide[1], df_lide[2], df_lide[3], df_lide[4]]

ucastnici = pd.concat(frames)

ucastnici.reset_index(drop = True,inplace=True)

ucastnici.columns = ["Číslo_strany", "Strana", "Číslo_na_kandidátce", "Jméno", "Věk", "Navrhující_strana", "Politická_příslušnost", "Hlasy_počet", "Hlasy_procenta", "Pořadí_zvolení_náhradníka", "Mandát", "Rok_kandidatury"]
ucastnici = ucastnici.drop(["Číslo_strany"], axis = 1)


display(ucastnici.head())
display(ucastnici.tail())

,Strana,Číslo_na_kandidátce,Jméno,Věk,Navrhující_strana,Politická_příslušnost,Hlasy_počet,Hlasy_procenta,Pořadí_zvolení_náhradníka,Mandát,Rok_kandidatury
0,Česká str.sociálně demokrat.,12,Adamcová Svetluša,42,ČSSD,ČSSD,1 919,2.27,6,0,2002
1,"Koalice KDU-ČSL, SZ",24,Agh Alexandr,40,SZ,BEZPP,336,1.92,0,0,2002
2,Nezáv.sdruž.sport.města Mostu,3,Augusta Pavel Ing.,38,SSZ,SSZ,1 099,2.92,3,0,2002
3,Komunistická str.Čech a Moravy,15,Babák Jindřich,48,KSČM,KSČM,3 749,2.25,1,0,2002
4,"Koalice KDU-ČSL, SZ",10,Babováková Tatiana JUDr.,48,SZ,BEZPP,484,2.77,0,0,2002

,Strana,Číslo_na_kandidátce,Jméno,Věk,Navrhující_strana,Politická_příslušnost,Hlasy_počet,Hlasy_procenta,Pořadí_zvolení_náhradníka,Mandát,Rok_kandidatury
2230,Otevřená radnice Most,40,Zeiler Vilém,45,Hora 2014,BEZPP,343,2.00,0,0,2018
2231,Piráti a Zelení pro Most,6,Zemanová Kateřina MUDr.,48,Zelení,Zelení,1 488,2.45,2,0,2018
2232,Česká str.sociálně demokrat.,39,Zíková Bohumila,41,ČSSD,ČSSD,469,2.08,0,0,2018
2233,ANO 2011,4,Zudová Jana Ing.,35,ANO,ANO,2 687,2.40,4,1,2018
2234,Otevřená radnice Most,17,Zwoliński Josef,50,Hora 2014,BEZPP,390,2.28,0,0,2018

#### Tituly

In [13]:
ucastnici.reset_index(drop = True,inplace=True)

ucastnici["Titul"] = np.nan

MBAs = ["MBA", "BBA"]

##########################
# Vyjádřit se k MBA a BBA a systému
##########################

for i in range(len(ucastnici)): 
    
    if ucastnici["Jméno"].iloc[i].split()[-1] in MBAs:
        if ucastnici["Jméno"].iloc[i].split()[-2][-1]== ".":
            if ucastnici["Jméno"].iloc[i].split()[-3][-1]== ".":
                ucastnici["Titul"].iloc[i] = ucastnici["Jméno"].iloc[i].split()[-3]
            else:
                ucastnici["Titul"].iloc[i] = ucastnici["Jméno"].iloc[i].split()[-2]


    else:
        if ucastnici["Jméno"].iloc[i][-1]== ".":
            if ucastnici["Jméno"].iloc[i].split()[-2][-1]== ".":
                ucastnici["Titul"].iloc[i] = ucastnici["Jméno"].iloc[i].split()[-2]
            else:
                ucastnici["Titul"].iloc[i] = ucastnici["Jméno"].iloc[i].split()[-1]

ucastnici.head(15)

C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,Strana,Číslo_na_kandidátce,Jméno,Věk,Navrhující_strana,Politická_příslušnost,Hlasy_počet,Hlasy_procenta,Pořadí_zvolení_náhradníka,Mandát,Rok_kandidatury,Titul
0,Česká str.sociálně demokrat.,12,Adamcová Svetluša,42,ČSSD,ČSSD,1 919,2.27,6,0,2002,NaN
1,"Koalice KDU-ČSL, SZ",24,Agh Alexandr,40,SZ,BEZPP,336,1.92,0,0,2002,NaN
2,Nezáv.sdruž.sport.města Mostu,3,Augusta Pavel Ing.,38,SSZ,SSZ,1 099,2.92,3,0,2002,Ing.
3,Komunistická str.Čech a Moravy,15,Babák Jindřich,48,KSČM,KSČM,3 749,2.25,1,0,2002,NaN
4,"Koalice KDU-ČSL, SZ",10,Babováková Tatiana JUDr.,48,SZ,BEZPP,484,2.77,0,0,2002,JUDr.
5,Sdružení nezávislých,29,Bachura Milan,28,SNK ED,BEZPP,1 226,1.92,24,0,2002,NaN
6,Občanská demokratická strana,16,Bajer Miloslav Mgr.,58,ODS,ODS,3 373,2.39,7,0,2002,Mgr.
7,Komunistická str.Čech a Moravy,19,Balín Roman,21,KSČM,BEZPP,3 695,2.22,5,0,2002,NaN
8,Komunistická str.Čech a Moravy,1,Balín Vlastimil RSDr.,52,KSČM,KSČM,4 064,2.44,1,1,2002,RSDr.
9,Česká str.sociálně demokrat.,26,Balogová Lenka,37,ČSSD,ČSSD,1 852,2.19,19,0,2002,NaN
10,"Koalice KDU-ČSL, SZ",38,Bartes Petr,28,KDU-ČSL,BEZPP,307,1.76,0,0,2002,NaN
11,Občanská demokratická strana,41,Bártl Čestmír,67,ODS,ODS,2 706,1.91,30,0,2002,NaN
12,Občanská demokratická strana,1,Bártl Vladimír Ing.,41,ODS,ODS,3 987,2.82,1,1,2002,Ing.
13,Komunistická str.Čech a Moravy,20,Bartošová Jana,58,KSČM,KSČM,3 754,2.25,6,0,2002,NaN
14,Nezáv.sdruž.sport.města Mostu,18,Bejček Josef,46,SSZ,BEZPP,704,1.87,16,0,2002,NaN

### Naaranžování sloupců

In [14]:
ucastnici = ucastnici[["Jméno", "Titul", "Věk", "Strana", "Navrhující_strana", "Politická_příslušnost", "Číslo_na_kandidátce", "Hlasy_počet", "Hlasy_procenta", "Pořadí_zvolení_náhradníka", "Mandát", "Rok_kandidatury"]]
        
ucastnici.head(15)

,Jméno,Titul,Věk,Strana,Navrhující_strana,Politická_příslušnost,Číslo_na_kandidátce,Hlasy_počet,Hlasy_procenta,Pořadí_zvolení_náhradníka,Mandát,Rok_kandidatury
0,Adamcová Svetluša,NaN,42,Česká str.sociálně demokrat.,ČSSD,ČSSD,12,1 919,2.27,6,0,2002
1,Agh Alexandr,NaN,40,"Koalice KDU-ČSL, SZ",SZ,BEZPP,24,336,1.92,0,0,2002
2,Augusta Pavel Ing.,Ing.,38,Nezáv.sdruž.sport.města Mostu,SSZ,SSZ,3,1 099,2.92,3,0,2002
3,Babák Jindřich,NaN,48,Komunistická str.Čech a Moravy,KSČM,KSČM,15,3 749,2.25,1,0,2002
4,Babováková Tatiana JUDr.,JUDr.,48,"Koalice KDU-ČSL, SZ",SZ,BEZPP,10,484,2.77,0,0,2002
5,Bachura Milan,NaN,28,Sdružení nezávislých,SNK ED,BEZPP,29,1 226,1.92,24,0,2002
6,Bajer Miloslav Mgr.,Mgr.,58,Občanská demokratická strana,ODS,ODS,16,3 373,2.39,7,0,2002
7,Balín Roman,NaN,21,Komunistická str.Čech a Moravy,KSČM,BEZPP,19,3 695,2.22,5,0,2002
8,Balín Vlastimil RSDr.,RSDr.,52,Komunistická str.Čech a Moravy,KSČM,KSČM,1,4 064,2.44,1,1,2002
9,Balogová Lenka,NaN,37,Česká str.sociálně demokrat.,ČSSD,ČSSD,26,1 852,2.19,19,0,2002
10,Bartes Petr,NaN,28,"Koalice KDU-ČSL, SZ",KDU-ČSL,BEZPP,38,307,1.76,0,0,2002
11,Bártl Čestmír,NaN,67,Občanská demokratická strana,ODS,ODS,41,2 706,1.91,30,0,2002
12,Bártl Vladimír Ing.,Ing.,41,Občanská demokratická strana,ODS,ODS,1,3 987,2.82,1,1,2002
13,Bartošová Jana,NaN,58,Komunistická str.Čech a Moravy,KSČM,KSČM,20,3 754,2.25,6,0,2002
14,Bejček Josef,NaN,46,Nezáv.sdruž.sport.města Mostu,SSZ,BEZPP,18,704,1.87,16,0,2002

### Úprava posledního sloupce - počet hlasů

In [15]:
for i in range(len(ucastnici)):
    if len(ucastnici['Hlasy_počet'][i]) == 2:
        ucastnici['Hlasy_počet'][i] = ucastnici['Hlasy_počet'][i][-2:]
    elif len(ucastnici['Hlasy_počet'][i]) == 3:
        ucastnici['Hlasy_počet'][i] = ucastnici['Hlasy_počet'][i][-3:]
    elif len(ucastnici['Hlasy_počet'][i]) == 5:
        ucastnici['Hlasy_počet'][i] = ucastnici['Hlasy_počet'][i][0] + ucastnici['Hlasy_počet'][i][-3:]
    elif len(ucastnici['Hlasy_počet'][i]) == 6:
        ucastnici['Hlasy_počet'][i] = ucastnici['Hlasy_počet'][i][0:2] + ucastnici['Hlasy_počet'][i][-3:] 
    else:
        pass

C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [16]:
# Poslední úprava typu na Int + Kontrola Typů

ucastnici["Hlasy_počet"] = ucastnici["Hlasy_počet"].astype(int)
display(ucastnici.dtypes)

Jméno                         object
Titul                         object
Věk                            int32
Strana                        object
Navrhující_strana             object
Politická_příslušnost         object
Číslo_na_kandidátce            int32
Hlasy_počet                    int32
Hlasy_procenta               float64
Pořadí_zvolení_náhradníka      int32
Mandát                         int32
Rok_kandidatury                int64
dtype: object

#### Závěrečná kontrola datasetu

In [17]:
ucastnici.describe()

,Věk,Číslo_na_kandidátce,Hlasy_počet,Hlasy_procenta,Pořadí_zvolení_náhradníka,Mandát,Rok_kandidatury
count,2235.000000,2235.000000,2235.000000,2235.000000,2235.000000,2235.000000,2235.000000
mean,44.238926,22.545861,1625.022371,2.545378,9.432662,0.100671,2010.769575
std,13.449837,13.075397,1765.680693,3.038226,11.965083,0.300960,5.610625
min,18.000000,1.000000,28.000000,1.400000,0.000000,0.000000,2002.000000
25%,34.000000,11.000000,414.500000,2.060000,0.000000,0.000000,2006.000000
50%,44.000000,22.000000,1050.000000,2.200000,3.000000,0.000000,2010.000000
75%,54.000000,34.000000,2241.500000,2.350000,17.000000,0.000000,2014.000000
max,87.000000,45.000000,10924.000000,100.000000,42.000000,1.000000,2018.000000

## 3_Scrapping_Vysledky_a_Ucast

In [18]:
roky = [2002, 2006, 2010, 2014, 2018]

df_ucast = []
df_vysledky = []

for i in roky:
    url = r"https://www.volby.cz/pls/kv" + str(i) + "/kv1111?xjazyk=CZ&xid=1&xdz=3&xnumnuts=4205&xobec=567027"
    table = pd.read_html(url)
    table[0]= table[0].drop(table[0].index[0:2])    # Odmazány první dva řádky záhlaví
    table[1]= table[1].drop(table[1].index[0:2])    # Odmazány první dva řádky záhlaví
   
    table[1][9] = i 
    
    df_ucast.append(table[0])
    df_vysledky.append(table[1])

In [19]:
# Kontrola nahraných dat

for i in range(5):

    display(df_ucast[i].head())
    display(df_vysledky[i].head(20))

    0  1   2   3       4       5       6      7       8        9
2  45  1  60  60  100.00  53 977  14 757  27.34  14 751  592 682

,0,1,2,3,4,5,6,7,8,9
2,1,Sdružení nezávislých,63 539,10.72,45,592 682.00,10.72,5.0,X,2002
3,2,Unie svobody-Demokratická unie,10 754,1.81,26,342 438.48,3.14,0.0,NaN,2002
4,3,Komunistická str.Čech a Moravy,166 217,28.04,45,592 682.00,28.04,14.0,X,2002
5,4,Občanská demokratická strana,141 026,23.79,45,592 682.00,23.79,11.0,X,2002
6,5,Republikáni Miroslava Sládka,674,0.11,7,92 194.97,0.73,0.0,NaN,2002
7,6,Strana za životní jistoty,417,0.07,2,26 341.42,1.58,0.0,NaN,2002
8,7,Nezáv.sdruž.sport.města Mostu,37 546,6.33,45,592 682.00,6.33,3.0,X,2002
9,8,"Koalice KDU-ČSL, SZ",17 436,2.94,45,592 682.00,2.94,0.0,NaN,2002
10,9,Str.pro otevřenou společnost,69 002,11.64,45,592 682.00,11.64,5.0,X,2002
11,10,Česká str.sociálně demokrat.,84 521,14.26,45,592 682.00,14.26,7.0,X,2002
12,11,Národně demokratická strana,1 550,0.26,15,197 560.66,0.78,0.0,NaN,2002

    0  1   2   3      4       5       6     7       8        9
2  45  1  60  60  10000  54 469  20 245  3717  20 234  815 278

,0,1,2,3,4,5,6,7,8,9
2,1,VOLBA PRO MOST,34 909,428,45,"815 278,00",428,0.0,-,2006
3,2,České hnutí za národní jednotu,742,009,14,"253 642,04",029,0.0,-,2006
4,3,Národní strana,120,001,1,"18 117,28",066,0.0,-,2006
5,4,Občanská demokratická strana,162 370,1992,44,"797 160,71",2036,11.0,X,2006
6,5,Komunistická str.Čech a Moravy,129 250,1585,45,"815 278,00",1585,8.0,X,2006
7,6,SNK Evropští demokraté,42 133,517,43,"779 043,42",540,2.0,X,2006
8,7,Sdružení Mostečané Mostu,272 009,3336,45,"815 278,00",3336,18.0,X,2006
9,8,Strana zelených,39 997,491,45,"815 278,00",490,0.0,-,2006
10,9,Sdružení pro sport a zdraví,31 939,392,45,"815 278,00",391,0.0,-,2006
11,10,NEZ.DEMOKRATÉ(předs.V.Železný),5 732,070,45,"815 278,00",070,0.0,-,2006
12,11,Česká str.sociálně demokrat.,96 077,1178,43,"779 043,42",1233,6.0,X,2006

    0  1   2   3      4       5       6     7       8        9
2  45  1  60  60  10000  54 515  21 469  3938  21 328  833 917

,0,1,2,3,4,5,6,7,8,9
2,1,Komunistická str.Čech a Moravy,82 268,987,45,"833 917,00",986,5.0,X,2010
3,2,TOP 09,41 521,498,38,"704 196,57",589,2.0,X,2010
4,3,Občanská demokratická strana,96 905,1162,45,"833 917,00",1162,6.0,X,2010
5,4,"""Občané městu, město občanům""",16 954,203,45,"833 917,00",203,0.0,-,2010
6,5,Věci veřejné,28 344,340,41,"759 791,04",373,0.0,-,2010
7,6,Sdružení Mostečané Mostu,422 891,5071,45,"833 917,00",5071,26.0,X,2010
8,7,Česká str.sociálně demokrat.,106 016,1271,45,"833 917,00",1271,6.0,X,2010
9,8,Dělnic.str.sociální spravedl.,18 923,227,45,"833 917,00",226,0.0,-,2010
10,9,OK-Občanský Kontext,20 095,241,45,"833 917,00",240,0.0,-,2010

    0  1   2   3      4       5       6     7       8        9
2  45  1  60  60  10000  54 334  17 124  3152  17 121  699 177

,0,1,2,3,4,5,6,7,8,9
2,1,Toryové,9 728,139,45,"699 177,00",139,0.0,-,2014
3,2,"""OMMO - hlas pro občana""",7 818,112,45,"699 177,00",111,0.0,-,2014
4,3,Sdružení Mostečané Mostu,131 243,1877,45,"699 177,00",1877,10.0,X,2014
5,4,Občanská demokratická strana,37 919,542,45,"699 177,00",542,3.0,X,2014
6,5,Koalice TOP09 a KDU-ČSL,17 568,251,44,"683 639,73",256,0.0,-,2014
7,6,OR s podp.Inic.za MHD zdarma,19 570,280,45,"699 177,00",279,0.0,-,2014
8,7,Komunistická str.Čech a Moravy,74 140,1060,45,"699 177,00",1060,5.0,X,2014
9,8,Severočeši Most,228 600,3270,45,"699 177,00",3269,18.0,X,2014
10,9,Česká str.sociálně demokrat.,49 347,706,45,"699 177,00",705,3.0,X,2014
11,10,"DSZ, NK-sdružení DSZaNK",461,007,4,"62 149,06",074,0.0,-,2014
12,11,"SZ, NK za Most",27 237,390,45,"699 177,00",389,0.0,-,2014
13,12,Mostečané Mostu,139,002,4,"62 149,06",022,0.0,-,2014
14,13,DSSS-volím budouc.našich dětí,13 688,196,45,"699 177,00",195,0.0,-,2014
15,14,ANO 2011,81 719,1169,45,"699 177,00",1168,6.0,X,2014

    0  1   2   3      4       5       6     7       8        9
2  45  1  60  60  10000  52 824  16 677  3157  16 673  683 827

,0,1,2,3,4,5,6,7,8,9
2,1,Občanská demokratická strana,58 284,852,45,"683 827,00",852,4.0,X,2018
3,2,"Občané městu, město občanům",3 154,046,20,"303 923,11",103,0.0,-,2018
4,3,Piráti a Zelení pro Most,60 698,888,45,"683 827,00",887,4.0,X,2018
5,4,Sdružení Mostečané Mostu,110 798,1620,45,"683 827,00",1620,8.0,X,2018
6,5,ANO 2011,111 512,1631,45,"683 827,00",1630,9.0,X,2018
7,6,Hnutí za zrovnopráv. maminek,4 724,069,45,"683 827,00",069,0.0,-,2018
8,7,Starost. a nezáv. s podp.Toryů,10 025,147,45,"683 827,00",146,0.0,-,2018
9,8,Otevřená radnice Most,17 071,250,45,"683 827,00",249,0.0,-,2018
10,9,Česká str.sociálně demokrat.,22 531,329,45,"683 827,00",329,0.0,-,2018
11,10,Svob.a př.dem.-T.Okamura (SPD),31 227,457,44,"668 630,84",467,0.0,-,2018
12,11,ProMOST,198 970,2910,45,"683 827,00",2909,16.0,X,2018
13,12,Komunistická str.Čech a Moravy,54 833,802,45,"683 827,00",801,4.0,X,2018

In [20]:
# Resetování indexů

for i in range(5):
    df_ucast[i].reset_index(drop = True,inplace=True)
    df_vysledky[i].reset_index(drop = True,inplace=True)

#### a) Pouze počet oprávněných voličů a výsledná účast

In [21]:
# Ponechání pouze dvou sloupců

for i in range(5):
    df_ucast[i] = df_ucast[i][[5,7]]
    display(df_ucast[i])

df_ucast[i].reset_index(drop = True,inplace=True)

        5      7
0  53 977  27.34

        5     7
0  54 469  3717

        5     7
0  54 515  3938

        5     7
0  54 334  3152

        5     7
0  52 824  3157

In [22]:
# Změna typu sloupců, Přenásobení na procenta

for i in range(5):
    df_ucast[i][7]=pd.to_numeric(df_ucast[i][7]) 
    
    if i ==0:
        pass
    else:
        df_ucast[i][7] = df_ucast[i][7]*(1/100)
        
    display(df_ucast[i])

        5      7
0  53 977  27.34

        5      7
0  54 469  37.17

        5      7
0  54 515  39.38

        5      7
0  54 334  31.52

C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

        5      7
0  52 824  31.57

#### Merging

In [23]:
# Merging, reindexing, přejmenování sloupců, přidání roku

frames2 = [df_ucast[0], df_ucast[1], df_ucast[2], df_ucast[3], df_ucast[4]]

ucast = pd.concat(frames2)

ucast.reset_index(drop = True,inplace=True)

ucast.columns = ["Opravneni_volici", "Ucast_procent"]

ucast["Rok"] = roky

In [24]:
ucast

  Opravneni_volici  Ucast_procent   Rok
0           53 977          27.34  2002
1           54 469          37.17  2006
2           54 515          39.38  2010
3           54 334          31.52  2014
4           52 824          31.57  2018

In [25]:
for i in range(len(ucast)):
    if len(ucast['Opravneni_volici'][i]) == 2:
        ucast['Opravneni_volici'][i] = ucast['Opravneni_volici'][i][-2:]
    elif len(ucast['Opravneni_volici'][i]) == 3:
        ucast['Opravneni_volici'][i] = ucast['Opravneni_volici'][i][-3:]
    elif len(ucast['Opravneni_volici'][i]) == 5:
        ucast['Opravneni_volici'][i] = ucast['Opravneni_volici'][i][0] + ucast['Opravneni_volici'][i][-3:]
    elif len(ucast['Opravneni_volici'][i]) == 6:
        ucast['Opravneni_volici'][i] = ucast['Opravneni_volici'][i][0:2] + ucast['Opravneni_volici'][i][-3:] 
    else:
        pass

C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [26]:
# Poslední úprava typu na Int + Kontrola Typů

ucast["Opravneni_volici"] = ucast["Opravneni_volici"].astype(int)
display(ucast.dtypes)

ucast.describe()

Opravneni_volici      int32
Ucast_procent       float64
Rok                   int64
dtype: object

       Opravneni_volici  Ucast_procent          Rok
count          5.000000       5.000000     5.000000
mean       54023.800000      33.396000  2010.000000
std          703.102909       4.836841     6.324555
min        52824.000000      27.340000  2002.000000
25%        53977.000000      31.520000  2006.000000
50%        54334.000000      31.570000  2010.000000
75%        54469.000000      37.170000  2014.000000
max        54515.000000      39.380000  2018.000000

#### b) Výsledky voleb - doupravení

In [27]:
for i in range(2):
       display(df_vysledky[i])

,0,1,2,3,4,5,6,7,8,9
0,1,Sdružení nezávislých,63 539,10.72,45,592 682.00,10.72,5.0,X,2002
1,2,Unie svobody-Demokratická unie,10 754,1.81,26,342 438.48,3.14,0.0,NaN,2002
2,3,Komunistická str.Čech a Moravy,166 217,28.04,45,592 682.00,28.04,14.0,X,2002
3,4,Občanská demokratická strana,141 026,23.79,45,592 682.00,23.79,11.0,X,2002
4,5,Republikáni Miroslava Sládka,674,0.11,7,92 194.97,0.73,0.0,NaN,2002
5,6,Strana za životní jistoty,417,0.07,2,26 341.42,1.58,0.0,NaN,2002
6,7,Nezáv.sdruž.sport.města Mostu,37 546,6.33,45,592 682.00,6.33,3.0,X,2002
7,8,"Koalice KDU-ČSL, SZ",17 436,2.94,45,592 682.00,2.94,0.0,NaN,2002
8,9,Str.pro otevřenou společnost,69 002,11.64,45,592 682.00,11.64,5.0,X,2002
9,10,Česká str.sociálně demokrat.,84 521,14.26,45,592 682.00,14.26,7.0,X,2002
10,11,Národně demokratická strana,1 550,0.26,15,197 560.66,0.78,0.0,NaN,2002

,0,1,2,3,4,5,6,7,8,9
0,1,VOLBA PRO MOST,34 909,428,45,"815 278,00",428,0.0,-,2006
1,2,České hnutí za národní jednotu,742,009,14,"253 642,04",029,0.0,-,2006
2,3,Národní strana,120,001,1,"18 117,28",066,0.0,-,2006
3,4,Občanská demokratická strana,162 370,1992,44,"797 160,71",2036,11.0,X,2006
4,5,Komunistická str.Čech a Moravy,129 250,1585,45,"815 278,00",1585,8.0,X,2006
5,6,SNK Evropští demokraté,42 133,517,43,"779 043,42",540,2.0,X,2006
6,7,Sdružení Mostečané Mostu,272 009,3336,45,"815 278,00",3336,18.0,X,2006
7,8,Strana zelených,39 997,491,45,"815 278,00",490,0.0,-,2006
8,9,Sdružení pro sport a zdraví,31 939,392,45,"815 278,00",391,0.0,-,2006
9,10,NEZ.DEMOKRATÉ(předs.V.Železný),5 732,070,45,"815 278,00",070,0.0,-,2006
10,11,Česká str.sociálně demokrat.,96 077,1178,43,"779 043,42",1233,6.0,X,2006

#### Úprava typů a Procenta (krom 1. setu)

In [28]:
for i in range(2):
    display(df_vysledky[i].dtypes)

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7    float64
8     object
9      int64
dtype: object

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7    float64
8     object
9      int64
dtype: object

In [29]:
for i in range(5):
        if i == 0:
            pass
        else:
            df_vysledky[i][0] = df_vysledky[i][0].astype(int)
            df_vysledky[i][3] = df_vysledky[i][3].astype(int)
            df_vysledky[i][4] = df_vysledky[i][4].astype(int)
            df_vysledky[i][6] = df_vysledky[i][6].astype(int)
            df_vysledky[i][7] = df_vysledky[i][7].astype(int)

df_vysledky[0][0] = df_vysledky[0][0].astype(int)
df_vysledky[0][4] = df_vysledky[0][4].astype(int)
df_vysledky[0][7] = df_vysledky[0][7].astype(int)

df_vysledky[0][3] = df_vysledky[0][3].astype(float)
df_vysledky[0][6] = df_vysledky[0][6].astype(float)

In [30]:
for i in range(5):
    if i == 0:
        pass
    else:
        df_vysledky[i][3] = (df_vysledky[i][3])*(1/100)
        df_vysledky[i][6] = (df_vysledky[i][6])*(1/100)

#### Replacing znaků - není potřeba, drop posledního sloupce

#### Merging + Pojmenování a zvolení sloupců

In [31]:
frames3 = [df_vysledky[0], df_vysledky[1], df_vysledky[2], df_vysledky[3], df_vysledky[4]]

vysledky = pd.concat(frames3)

vysledky.reset_index(drop = True,inplace=True)

vysledky.columns = ["Číslo_strany", "Strana", "Počet_hlasů", "Procento_hlasů", "Počet_kandidátů", "Přepočtený_počet_hlasů", "Přepočtené_procento_hlasů", "Počet_mandátů", "Mandáty", "Rok"]
vysledky = vysledky.drop(["Číslo_strany","Přepočtený_počet_hlasů", "Přepočtené_procento_hlasů", "Mandáty"], axis = 1)


display(vysledky.head())
display(vysledky.tail())

,Strana,Počet_hlasů,Procento_hlasů,Počet_kandidátů,Počet_mandátů,Rok
0,Sdružení nezávislých,63 539,10.72,45,5,2002
1,Unie svobody-Demokratická unie,10 754,1.81,26,0,2002
2,Komunistická str.Čech a Moravy,166 217,28.04,45,14,2002
3,Občanská demokratická strana,141 026,23.79,45,11,2002
4,Republikáni Miroslava Sládka,674,0.11,7,0,2002

,Strana,Počet_hlasů,Procento_hlasů,Počet_kandidátů,Počet_mandátů,Rok
52,Otevřená radnice Most,17 071,2.50,45,0,2018
53,Česká str.sociálně demokrat.,22 531,3.29,45,0,2018
54,Svob.a př.dem.-T.Okamura (SPD),31 227,4.57,44,0,2018
55,ProMOST,198 970,29.10,45,16,2018
56,Komunistická str.Čech a Moravy,54 833,8.02,45,4,2018

#### Dodělání sloupců s tisíci na INT

In [32]:
vysledky.reset_index(drop = True,inplace=True)

In [33]:
for i in range(len(vysledky)):
    if len(vysledky['Počet_hlasů'][i]) == 2:
        vysledky['Počet_hlasů'][i] = vysledky['Počet_hlasů'][i][-2:]
    elif len(vysledky['Počet_hlasů'][i]) == 3:
        vysledky['Počet_hlasů'][i] = vysledky['Počet_hlasů'][i][-3:]
    elif len(vysledky['Počet_hlasů'][i]) == 5:
        vysledky['Počet_hlasů'][i] = vysledky['Počet_hlasů'][i][0] + vysledky['Počet_hlasů'][i][-3:]
    elif len(vysledky['Počet_hlasů'][i]) == 6:
        vysledky['Počet_hlasů'][i] = vysledky['Počet_hlasů'][i][0:2] + vysledky['Počet_hlasů'][i][-3:] 
    elif len(vysledky['Počet_hlasů'][i]) == 7:
        vysledky['Počet_hlasů'][i] = vysledky['Počet_hlasů'][i][0:3] + vysledky['Počet_hlasů'][i][-3:]      # Přidáno toto prodloužení na 6 místné čísla
    else:
        pass

    
vysledky["Počet_hlasů"] = vysledky["Počet_hlasů"].astype(int)

C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\jiri.zelenka\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [34]:
display(vysledky.dtypes)

display(vysledky.head())

vysledky.describe()

Strana              object
Počet_hlasů          int32
Procento_hlasů     float64
Počet_kandidátů      int32
Počet_mandátů        int32
Rok                  int64
dtype: object

,Strana,Počet_hlasů,Procento_hlasů,Počet_kandidátů,Počet_mandátů,Rok
0,Sdružení nezávislých,63539,10.72,45,5,2002
1,Unie svobody-Demokratická unie,10754,1.81,26,0,2002
2,Komunistická str.Čech a Moravy,166217,28.04,45,14,2002
3,Občanská demokratická strana,141026,23.79,45,11,2002
4,Republikáni Miroslava Sládka,674,0.11,7,0,2002

,Počet_hlasů,Procento_hlasů,Počet_kandidátů,Počet_mandátů,Rok
count,57.000000,57.000000,57.000000,57.000000,57.000000
mean,63594.403509,8.771579,39.210526,3.947368,2010.350877
std,77933.019671,10.257506,13.095442,5.692793,5.770898
min,120.000000,0.010000,1.000000,0.000000,2002.000000
25%,13688.000000,1.960000,44.000000,0.000000,2006.000000
50%,37546.000000,4.910000,45.000000,0.000000,2010.000000
75%,84521.000000,11.690000,45.000000,6.000000,2014.000000
max,422891.000000,50.710000,45.000000,26.000000,2018.000000

### Ulozeni_datasetu
##### Účastníci
##### Účast
##### Výsledky

In [35]:
ucastnici.to_excel(r'kandidati.xlsx')
ucast.to_excel(r'ucast.xlsx')
vysledky.to_excel(r'vysledky.xlsx')

In [36]:
ucastnici.to_csv(r'kandidati.csv')
ucast.to_csv(r'ucast.csv')
vysledky.to_csv(r'vysledky.csv')